.payment-form-title {
    width: 1350px;
	  height: 58px;
	  margin-top: 36px;
	  font-size: 25px;
	  text-indent: 329px;
	  font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
  }

.payment-img { 
    position: absolute;
    width: 780px;
    height: 500px;
    margin: 7px;
    padding: 10px;
    border-right: 1px solid gray ;
    background-image: url(../img/card-american-express.svg),
    url(../img/card-discovery.svg),
    url(../img/card-master.svg),
    url(../img/card-visa.jpg.svg),
    url(../img/credit-card-bg.png) ;
    background-repeat: no-repeat;
    background-position: 382px 30px,326px 31px, 263px 31px, 184px 37px, 156px 1px;
  }

.righter {
    position: absolute;
  	width: 400px;
  	height: 377px;	
  	margin-left: 820px;
  }

.righter-gray {
    position: absolute;
  	width: 216px;
  	height: 153px;
  	margin: 14px 63px;
    text-indent:30px;
    font-size: 20px;
    font-family: SourceSansPro-Regular;
  	border: 1px solid gray;
  	border-radius: 4px;
  	background-color: #F7F7F7;
  	
  }

.zip-postal-code {
    width: 347px;
    height: 53px;
    margin: 13px 0 0 167px;
    font-weight: bold;
    font-size: 16px;
    font-family: SourceSansPro-Bold;
  }

.checkbox {
    width: 320px;
    height: 38px;
    margin: 1px 292px;
    font-family: SourceSansPro-Regular;
    font-size: 15px;
}

.form-cardnumber {
    position: absolute;
  	width: 210px;
  	height: 37px;
    margin: 113px 169px;
  	text-indent: 9px;
    border-radius: 4px;
    border-style: none;
  }

.form-cardnumber-for-input {
    position: absolute;
  	width: 356px;
  	height: 37px;
    margin: 173px 169px;
    text-indent: 12px;
  	border-radius: 4px;
    border-style: none;
  }

.form-valid-date {
    position: absolute;
  	width: 80px;
  	height: 37px;
  	margin: 113px 445px;
    text-align: center;
  	border-radius: 4px;
    border-style: none;
  }

.form-card-verification-value {
  	width: 80px;
  	height: 37px;
    margin: 113px 577px;
  	text-align: center;
  	border-radius: 4px;
    border-style: none;
  }

.form-zip-postal-code{
  	width: 160px;
  	height: 27px;
    margin: 0px 13px; 
  	text-indent: 9px;
  	border-radius: 4px;
    border-width: 1px;

  }

.subscription-for-text {
    margin-top: -2px;
    text-indent: 171px;
    font-weight: bold;
    font-family: SourceSansPro-Bold;
  }

.text-accent {
    display: inline-block;
    margin-left: -142px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: SourceSansPro-Bold;
  }

.checkbox-for-text {
    color: red; 
  }

.btn-for-input {
  	width: 260px;
  	height: 41px;
  	margin: 11px 294px;
  	font-family: SourceSansPro-Bold;
    font-size: 15px;
    font-weight: bold;
  	background: linear-gradient(to bottom, #ffd76b 0%,#ffa73d 50%, #ff7f04 100%);
  	border-radius: 4px;
    border-color: orange;
    border-style: solid;
    border-width: 1px;
    
  }

.btn-payment-google {
  	width: 220px;
  	height: 50px;
  	margin: 7px 61px;
    font-size: 27px;
  	font-family: SourceSansPro-Regular;
    text-indent: 21px;
    color: white;
  	background: black;
  	background-image: url(../img/apple.png);
  	background-position: 77px 10px;
  	background-repeat: no-repeat;
    border-style: none;border-radius: 4px;
    
  }

.btn-payment-apple{
    width: 220px;
    height: 50px;margin: 14px 62px;
    font-size: 27px;
    font-family: SourceSansPro-Regular;
    text-indent: 24px;
    background: white;
    background-image: url(../img/google.png);
    background-position: 77px 10px;
    background-repeat: no-repeat;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    
}

.paypal-for-input {
    width: 118px;
    height: 43px;
    margin: 8px 45px;
    font-weight: bold;
    color: white;
    font-family: SourceSansPro-BoldItalic;
    font-size: 17px;
    text-indent: 18px;
    background: #3AAACF;
    background-image: url(../img/paypal.png);
    background-repeat: no-repeat;
    background-position: 8px 5px;
    border-style: none;
    border-radius: 4px;
    
}

@media screen and (max-width: 400px) {
  .payment-form-title{
    width: 270px;
    height: 37px;
    margin-left: 10px;
    font-size: 1em;
    text-align: center;
    text-indent: 0px;
  }

  .payment-img {
    width: 300px; 
    height: 180px;
    background: none;
    border: none; 
  }

  .form-cardnumber {
    width: 130px;
    margin: 00px 30px;
    border: 1px solid gray;
  }

  .form-cardnumber-for-input {
    width: 170px;
    margin: 50px 30px;
    border: 1px solid gray;
  }

  .form-valid-date {
    margin: 100px 30px;
    border: 1px solid gray;
  }

  .form-card-verification-value {
    margin: 150px 30px;
    border: 1px solid gray;
  }

  .zip-postal-code {
    height: 47px;
    margin: -127px 3px;
  }

  .subscription-for-text {
    margin: 130px -158px;
  }

  .checkbox {
   margin: -120px -15px; 
  }

  .btn-for-input {
   margin:  130px 15px;
  }

  .righter {
    margin: 400px 00px;
  }
}